
@{
    var currentPath = Context.Request.Path;
    var isLoginPage = currentPath.StartsWithSegments("/Login");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>Velora - Home The Future Car </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebPromotion.styles.css" asp-append-version="true" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

</head>
<body>

    @* <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End --> *@

    <!-- Navbar & Hero Start -->
    @if (!isLoginPage)
    {
        <div class="container-fluid nav-bar sticky-top px-0 px-lg-4 py-2 py-lg-0">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a href="" class="navbar-brand p-0">
                        @* <h1 class="display-6 text-primary"><i class="fas fa-car-alt me-3"></i></i>Cental</h1> *@
                        <img src="img/velora_logo.jpg" alt="Logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav mx-auto py-0">
                            <a href="index.html" class="nav-item nav-link active">Home</a>
                            <a href="about.html" class="nav-item nav-link">About</a>
                            <a href="service.html" class="nav-item nav-link">Service</a>
                            <a href="blog.html" class="nav-item nav-link">Blog</a>

                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                                <div class="dropdown-menu m-0">
                                    <a href="feature.html" class="dropdown-item">Our Feature</a>
                                    <a href="cars.html" class="dropdown-item">Our Cars</a>
                                    <a href="team.html" class="dropdown-item">Our Team</a>
                                    <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                                    <a href="404.html" class="dropdown-item">404 Page</a>
                                </div>
                            </div>
                            <a href="contact.html" class="nav-item nav-link">Contact</a>
                        </div>
                        <a href="#" class="btn btn-primary rounded-pill py-2 px-4">Get Started</a>
                    </div>
                </nav>
            </div>
        </div>
    }
    <!-- Navbar & Hero End -->

    <div class="mw-100 mb-4">
        <main role="main" class="pb-6">
            @RenderBody()
        </main>
    </div>

    <!-- Footer Start -->
    @if (!isLoginPage) 
    {
        <div class="container-fluid mt-5 sticky-bottom fixed-bottom bg-dark text-light">
            <div class="container text-center text-md-start">
                <div class="row">
                    <div class="col-md-3 col-lg-6 col-xl-3 mx-auto">
                        <button type="button" class="btn btn-dark py-3 w-100 h-100" data-bs-toggle="modal" data-bs-target="#addConsultation">
                            <div class="d-flex align-items-center justify-content-center">
                                <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Konsultasi Pembelian">
                                    <g id="Group">
                                    <path id="Vector" d="M18.23 12.51C19.17 11.96 19.8 10.94 19.8 9.79C19.8 8.05 18.38 6.64 16.65 6.64C16.16 6.64 15.7 6.75 15.29 6.95L13.46 4H5.05L1 10.54V16.86H6.25V14.72H10.42L10.29 14.78V19.74H23V14.78L18.23 12.51ZM21.5 18.24H11.79V15.73L12.25 15.51L13.75 14.8L16 13.73L16.65 13.42L17.5 13.82L21.5 15.73V18.24ZM16.65 8.14C17.56 8.14 18.3 8.88 18.3 9.79C18.3 10.39 17.98 10.91 17.5 11.2C17.25 11.35 16.96 11.44 16.65 11.44C16.42 11.44 16.2 11.39 16 11.3C15.41 11.05 15 10.47 15 9.79C15 9.66 15.01 9.54 15.04 9.42C15.17 8.87 15.56 8.43 16.08 8.25C16.25 8.18 16.45 8.14 16.65 8.14ZM4.75 13.22V15.36H2.5V10.97L5.88 5.5H12.62L14.12 7.92C13.73 8.44 13.5 9.09 13.5 9.79C13.5 10.95 14.13 11.97 15.07 12.51L13.58 13.22H4.75Z" fill="white"/>
                                    <path id="Vector_2" d="M9.44001 11.4H8.20001V12.66H9.44001V11.4Z" fill="white"/>
                                    <path id="Vector_3" d="M9.03 6.03C8.1 6.03 7.47 6.17 7.09 6.28V7.38C7.49 7.23 8.13 7.09 9.04 7.09C9.95 7.09 10.24 7.22 10.24 7.77C10.24 8.2 10.04 8.36 9.6 8.6L9.04 8.89C8.49 9.18 8.24 9.45 8.24 10.16V10.73H9.4V10.28C9.4 9.81 9.54 9.71 9.95 9.47L10.5 9.16C10.99 8.89 11.41 8.6 11.41 7.68C11.41 6.49 10.79 6.03 9.03 6.03Z" fill="white"/>
                                    </g>
                                    </g>
                                </svg>
                                <span class="ms-2">Book Consultation</span>
                            </div>
                        </button>
                    </div>
                    <div class="col-md-3 col-lg-6 col-xl-3 mx-auto">
                        <button type="button" class="btn btn-dark py-3 w-100 h-100" data-bs-toggle="modal" data-bs-target="#addTestDrive">
                            <div class="d-flex align-items-center justify-content-center">
                                <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Test Drive">
                                    <path id="Vector" d="M12 3C7.04 3 3 7.04 3 12C3 16.96 7.04 21 12 21C16.96 21 21 16.96 21 12C21 7.04 16.96 3 12 3ZM12 4.5C14.64 4.5 16.97 5.88 18.3 7.95H5.7C7.04 5.88 9.36 4.5 12 4.5ZM4.68 13.6L8.12 15.01L8.65 18.7C6.66 17.7 5.17 15.84 4.68 13.6ZM10.25 19.28L9.49 13.94L4.5 11.91C4.51 11.05 4.67 10.22 4.95 9.45H19.04C19.32 10.22 19.48 11.05 19.49 11.91L14.51 13.94L13.75 19.28C13.19 19.42 12.6 19.5 12 19.5C11.4 19.5 10.81 19.42 10.25 19.28ZM15.35 18.7L15.88 15.01L19.32 13.6C18.83 15.84 17.34 17.7 15.35 18.7Z" fill="white"/>
                                    </g>
                                </svg>
                                <span class="ms-2">Book Test Drive</span>
                            </div>
                        </button>
                    </div>
                    <div class="col-md-3 col-lg-6 col-xl-3 mx-auto">
                        <a class="btn btn-dark py-3 w-100 h-100" asp-controller="Login" asp-action="Index" asp-route-id="" role="button">
                            <div class="d-flex align-items-center justify-content-center">
                                <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Test Drive">
                                    <g id="Vector">
                                    <path d="M17.84 4H7.16L2 12.34V20.27H8.38V17.48H16.62V20.27H23V12.34L17.84 4ZM21.5 12.78H17.81L17.06 11.44L20 10.35L21.49 12.77L21.5 12.78ZM4.99 10.35L7.93 11.44L7.18 12.78H3.5L4.99 10.36V10.35ZM18.12 18.77V15.98H6.88V18.77H3.5V14.28H8.06L10.1 10.65L5.8 9.06L7.99 5.5H17.01L19.21 9.05L14.91 10.64L16.95 14.27H21.51V18.76H18.13L18.12 18.77Z" fill="white"/>
                                    <path d="M10.5 14.28H14.5L12.5 10.82L10.5 14.28Z" fill="white"/>
                                    </g>
                                    </g>
                                </svg>

                                <span class="ms-2">Book Service</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- Footer End -->

    <!-- Copyright Start -->
    <div class="container-fluid copyright py-4 @(isLoginPage ? "fixed-bottom" : "")">
        <div class="container">
            <div class="row g-4 align-items-center">
                <div class="col-md-6 text-center text-md-start mb-md-0">
                    <span class="text-body"><a href="#" class="border-bottom text-white"><i class="fas fa-copyright text-light me-2"></i>www.velora.com</a> 2025. All Rights Reserved.</span>
                </div>
                <div class="col-md-6 text-center text-md-end text-body">
                    Designed By <a class="border-bottom text-white" href="https://www.velora.com">Velora</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->

     <!-- Back to Top -->
    @if(!isLoginPage)
    {
         <a href="#" class="btn btn-secondary btn-lg-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>  
    }
    <!-- Back to Top End -->


    <!-- JavaScript Libraries -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
